@charset "UTF-8";
/* CSS Document */
body {
 background-image: url("paper.gif");
 background-color: #000000;
}

style
    body { 
        margin: 0; 
        padding: 0; 
        background: green; 
    } 
  
    .lines { 
        width: 1500px; 
        height: 5px; 
        background: #fff; 
        position: fixed;
		top: 85%;
        left: -4%; 
        transform: translate(-50%, -50%); 
		transform: rotate(180deg);
    } 
  
    .lines::before { 
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 500%; 
        height: 100%; 
        background: #266cc2; 
        animation: animate 5s linear infinite ; 
    } 

  
    @keyframes animate { 
        0% { 
            left: 0; 
        } 
  
        50% { 
            left: 100%; 
        } 
  
        0% { 
            left: 0; 
        } 
    } 

.lines2 {
	width: 900px;
	height: 5px;
	background: #fff;
	position: fixed;
	top: 50%;
	left: -6%; 
	transform: translate(-50%,-50%);
    transform: rotate(270deg);
}

.lines2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: red;
	animation: animate 5s linear infinite;
}


